<html>
<head>
<title><%=title%></title>
<meta charset="utf-8" />
<link href="/css/main.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="header" id="headerr">

    <h1><a href="/home"></a>  Make Cake </h1>
    <a href="/enterClient" class="bag"></a>
    <div class=menu>
    <ul>
        <li><a href="/torty">Торты</a></li>
        <li><a href="#">Пирожные</a></li>
        <li><a href="#">Конфеты</a></li>
        <li><a href="#">Шоколад</a></li>
        <li><a href="#">Зефир</a></li>
        </ul>


  
</div>
</div>
<div class=kart>

</div>

<div class=assort>
    <div class=pict1>

    </div>
    <div class=pict2>
        
    </div>

    <div class=pict3>
        
    </div>

    <div class="text">
        <h2>About</h2>
    </div>
</div>

<div class="foo">

</div>

</body>
<html>
