<html>
<head>
<title><%= title1 %></title>
<meta charset="utf-8" />
<link href="/css/main.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="header" id="headerr">

    <h1><a href="/home"></a>  Make Cake </h1>


<a href="/enterClient" class="btn">Вход в аккаунт</a>

</div>


<div class="form">
    <h1>Вход</h1>
    <div class="input-form">
        <input type="text" placeholder="Логин">
    </div>
    <div class="input-form">
        <input type="password" placeholder="Пароль">
    </div>
    <div class="input-form">
        <input type="submit" value="Войти">
    </div>
    <a href="#" class="reg">Регистрация</a>
</div>


</body>
<html>
