<html>
<head>
<title><%=title%></title>
<meta charset="utf-8" />
<link href="/css/main.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="header" id="headerr">

    <h1><a href="/"></a>  Make Cake </h1>
    <%  if (!flag) {%>
    <a href="/enterClient" class="btn">Вход в аккаунт</a>
    <%} else { %> <a href="/zakazy" class="bag"></a> <%}%>
    <div class=menu>
    <ul>
        <li><a href="/user?id=torty">Торты</a></li>
        <li><a href="/user?id=minic">Капкейки</a></li>
        <li><a href="/user?id=sweet">Шоколадные изделия</a></li>
        
        <li><a href="/user?id=marshmallows">Зефир</a></li>
        <li><a href="/user?id=classic">Классичекие десерты</a></li>
        </ul>


  
    </div>
</div>
<div class=assortTortt>
  
    
    <div class=pict1>

    </div>
    <div class=pict2>
        
    </div>

    <div class=pict3>
        
    </div>

    <div class="text">
        <h2>About</h2>
    </div>
    
</div>

<div class="foo">


</div>

</body>
<html>